*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
a,a:hover,a:active{
	text-decoration: none;
	color: #3d9ee3;
}
p{
	font-size: 14px;
	color: #7d7d7d;
}
h3{
	color: #333;
}
ul,ol,li{
	list-style: none;
}

.clearfloat{
	zoom:1;
}
.clearfloat:after{
	display: block;
	visibility: hidden;
	content: "";
	height: 0;
	clear: both;
}